<h1>Add home</h1>
<form action="" method="POST" role="form">
    <label> name!:</label><br>
    <input type="text" id="fname" name="name"><br>
    <label></label>status:</label><br>
    <input type="text" id="lname" name="status">

    <button type="submit">submit</button>

</form>