<h1>update category page</h1>
<form action="" method="POST" role="form">
    <label> name!:</label><br>
    <input type="text" id="fname" name="name" value="<%=cate.name%>"><br>
    <label></label>status:</label><br>
    <input type="text" id="lname" name="status" value="<%=cate.status%>">

    <button type="submit">submit</button>

</form>