

    <form action="" method="POST" role="form">
        <h1>update</h1>
        <label> name!:</label><br>
        <input type="text" id="fname" name="name" value=" <%=getlist.name%>"><br>
        <label></label>status:</label><br>
        <input type="text" id="lname" name="status" value="  <%=getlist.status%>">

        <button type="submit">submit</button>

    </form>