<h1>upload page </h1>
<form action="" method="POST" class="form-inline" role="form" enctype="multipart/form-data">
            
        <label class="sr-only" for="">label</label>
        <input type="file" class="form-control" id="" placeholder="Input field" name="file">

    

    <button type="submit" class="btn btn-primary">Submit</button>
</form>